# Site structure
lang: en
timezone: Europe/Amsterdam
url: "https://boazbaaz.github.io"
baseurl: ""

# SEO
title: Boas-Bas van der Veen
description: >-
  Portfolio showcasing game development projects and technical blog posts by Boas-Bas van der Veen.

plugins:
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-redirect-from

collections:
  tabs:
    output: true
    sort_by: order
  projects:
    output: true
    sort_by: end_date
    permalink: /projects/:title/
  blogs:
    output: true
    sort_by: date
    permalink: /blogs/:title/

defaults:
  - scope:
      path: ""
      type: blogs
    values:
      layout: blog
  - scope:
      path: ""
      type: projects
    values:
      layout: project
  - scope:
      path: ""
      type: tabs
    values:
      layout: page
      permalink: /:title/

sass:
  sass_dir: assets/css
  style: compressed

exclude:
  - "*.gem"
  - "*.gemspec"
  - docs
  - tools
  - README.md
  - LICENSE
  - "package*.json"

kramdown:
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    css_class: highlight
    span:
      line_numbers: false
    block:
      line_numbers: true
      start_line: 1
