---
layout: default
---

<article class="blog">
  <header class="blog-header">
    <h1 class="blog-title">{{ page.title }}</h1>

    <div class="blog-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}">
        <i class="far fa-calendar"></i>
        {{ page.date | date: "%B %d, %Y" }}
      </time>
    </div>

    {% if page.tags.size > 0 %}
      <div class="blog-tags">
        {% for tag in page.tags %}
          <span class="project-tag {{ tag | slugify }}">
            {% assign tag_data = site.data.tags[tag] %}
            {% if tag_data %}{{ tag_data.label }}{% else %}{{ tag }}{% endif %}
          </span>
        {% endfor %}
      </div>
    {% endif %}
  </header>

  <div class="blog-content">
    {{ content }}
  </div>
</article>
