---
layout: default
---

<div class="posts-page">
  <div class="project-filter-dropdown">
    <button id="filter-toggle">Filters &#9660;</button>
    <div id="filter-menu" class="filter-menu" style="display: none;">
      <button id="filter-all" class="filter-all-btn">All</button>

      <div class="filter-section">
        <h4>Categories</h4>
        {% assign post_categories = site.posts | map: "categories" | join: "," | split: "," | uniq | sort %}
        {% for category in post_categories %}
          {% if category != "" %}
            <label>
              <input type="checkbox" class="filter-checkbox filter-category" value="{{ category | slugify }}">
              {{ category }}
            </label>
          {% endif %}
        {% endfor %}
      </div>

      <div class="filter-section">
        <h4>Tags</h4>
        {% for tag_entry in site.data.tags %}
          <label>
            <input type="checkbox" class="filter-checkbox filter-tag" value="{{ tag_entry[0] }}">
            {{ tag_entry[1].label | default: tag_entry[0] }}
          </label>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="posts-list">
    {% for post in site.posts %}
      <article class="post-preview card-wrapper"
               data-categories="{{ post.categories | join: ',' | slugify }}"
               data-tags="{{ post.tags | join: ',' }}">
        <a href="{{ post.url | relative_url }}" class="post-preview-link">
          {% if post.thumbnail %}
            <div class="post-preview-thumbnail">
              <img src="{{ post.thumbnail | relative_url }}" alt="{{ post.title }}">
            </div>
          {% endif %}
          <h2 class="post-preview-title">{{ post.title }}</h2>
          <p class="post-preview-excerpt">
            {{ post.content | markdownify | strip_html | truncate: 200 }}
          </p>
          <div class="post-preview-meta">
            <time datetime="{{ post.date | date_to_xmlschema }}">
              <i class="far fa-calendar"></i>
              {{ post.date | date: "%B %d, %Y" }}
            </time>
            {% if post.categories.size > 0 %}
              <span>
                <i class="far fa-folder"></i>
                {% for category in post.categories %}
                  {{ category }}{% unless forloop.last %}, {% endunless %}
                {% endfor %}
              </span>
            {% endif %}
          </div>
        </a>
      </article>
    {% endfor %}
  </div>
</div>

<script src="{{ '/assets/js/filter_projects.js' | relative_url }}"></script>
